<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="CompanyMaster.master.cs" Inherits="DatabaseConnectivityDemo.CompanyMaster" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <table style="width:100%">
            <tr>
                <td style="width:100%">
                    Student management System
                </td>
            </tr>
            <tr>
                <td>
                    <asp:HyperLink ID="hrlHome" runat="server" Text="Home"></asp:HyperLink>
                    &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
                    <asp:HyperLink ID="hrlInsert" runat="server" Text="Insert"></asp:HyperLink>
                    &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
                    <asp:HyperLink ID="hrlSearch" runat="server" Text="Search"></asp:HyperLink>
                    &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <asp:ContentPlaceHolder ID="cphBody" runat="server"></asp:ContentPlaceHolder>
                </td>
            </tr>
            <tr>
                
                    <td colspan="2" style="background-color:deepskyblue;color:white;font-size:10px">
                    &copy; CopyRight. All Rights Reserved. 2018
                </td>
                
            </tr>
        </table>
        
    </div>
    </form>
</body>
</html>
